@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@source "../ui";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --color-green-primary: #0b6434;
  --color-green-secondary: #679a7f;
}

@layer base {
  body {
    font-family: var(--font-montserrat);
  }
}
